/*dark mode*/

body{
  background-color: white;
  color: black;
}

.dark-mode{
  background-color: black;
  color: white;
}

.top{
  position: absolute;
  top:0;
  width:100%;
  background-color: black;
  height:50px;
}


#darkmodebtn{
  position: absolute;
  text-decoration: none;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  top:15%;
  right:2%;
}


#darkmodebtn:hover{
  background-color: lightgrey;
}


.title{
  padding-top: 2.5%;
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
}


.navigation{
  width: auto;
  height: 36px;
  line-height: 32px;
  background-color: black;
  overflow: hidden;
  z-index: 2;
  border-radius: 5px;
}


ul.navigation{
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.navigation li{
  display: inline;
}


.navigation a{
  font-family: Monoton;
  padding: 8%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
}


.navigation li a:hover{
  background-color: grey;
}


.A1{
  position:relative;
  padding: 5% 5% 5% 5%;
  width:  50%;
  left: 20%;
  z-index: 1;
  font-size: 28px;
}


.A2{
  position:relative;
  padding: 5% 5% 5% 5%;
  width:  50%;
  left: 20%;
  z-index: 1;
  font-size: 28px;
}


.A3{
  position:relative;
  padding: 5% 5% 10% 5%;
  width:  50%;
  left: 20%;
  z-index: 1;
  font-size: 28px;
}


.A4{
  position:relative;
  padding: 5% 5% 10% 5%;
  width:  50%;
  left: 20%;
  z-index: 1;
  font-size: 28px;
}


.aboutme{
  text-align: center;
  position: relative;
  border-radius: 5px;
  padding: 50px 50px 50px 350px;
  width:50%;
  opacity: 1;
  outline-style: hidden;
}


/*Learn more buttons*/

.dropbtn{
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}


.dropdown{
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
  text-decoration: none;
}

/*footer and contact icons*/

footer{
  position: relative;
  bottom: 0px;
  width:auto;
  color: white;
  font-size: 16px;
  background-color: black;
  z-index: 3;
}


.footericon{
  overflow: hidden;
}


ul.footericon{
  list-style-type: none;
}


.footericon li{
  display: inline;
  border-right: 1px solid grey;
}


.footericon a{
  padding: 10%;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}


.email{
  position: absolute;
  bottom:0;
  left:75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.email:hover{
  background-color: grey;
}


.insta{
  position: absolute;
  bottom:0;
  left:80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.insta:hover{
  background-color: grey;
}


#goup{
  position: absolute;
  bottom:0;
  left:90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

#goup:hover{
  background-color: grey;
}


.twitter{
  position: absolute;
  bottom:0;
  left:85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.twitter:hover{
  background-color: grey;
}


/*documentations*/

.documentation{
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 3%;
  width: 70%;
  left: 15%;
  opacity: 1;
}

/* go back to main pg btn*/
.goback{
  bottom: 0;
  background-color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.goback:hover{
  background-color: grey;
}
